/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* General styles wildcard selector to override default styles */
/* use control shift +R to refresh */
* { 
    padding:0;
    margin:0;
    box-sizing: border-box;
}


/* creating a body selector */
body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /* generic project styles */
     color: #3a3a3a;
     /* adding lato as default font */
     font-family: "Lato",sans-serif;
}

h1,h2,h3 {
    font-family : "Oswald",san-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#252525;
}

/* header */ 

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index:99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color:inherit;
}



#menu {
    font-size:110%;
    letter-spacing:4px;
    list-style: none;

}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom:1px solid #3a3a3a;
}

/* Navbar style with dropdown toggle */
nav {
    position:absolute;
    background-color: #ffffff;
    width:100%;
    left:0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display:none;
    top:100%;
}

/*nav toggle*/
#nav-toggle:checked~nav {
    display:block;
    
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*main content  */

main {
    /* main element fill most of the page */
    flex: 1 0 auto;
    margin-top:47px;
}
/*hero section */
#hero {
    position:relative;
    height:600px;
    width:100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
}
/*final rgba value sets the opacity so it is semi-transparent */
#cover-text {
    position: absolute;
    bottom:30px;
    width:80%;
    min-height:200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color:rgba(241,109,107,0.7);
    font-size: 130%;
}

#cover-text >h2, h3 {
    color:#ffffff;
}
/* Why love running with us section */
#reasons {
    display:flex;
    flex-direction: column;
    position: relative;
    height:900px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    box-shadow: 2px 2px 2px #3a3a3a;
}

/*modifying style of header in  reasons */

#reasons > h2 {
    display:inline-block;
    font-size: 280%;
    text-align: center;
    width:80%;
    margin-left:10% ;
    margin-right:10%;
    margin-bottom:20px;
}

#reasons h3 {color:#3a3a3a;}


div {padding:0 20px;
    margin-bottom:20px;

}


/*footer */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type:none;
}
#social-networks i {
    font-size:160%;
    padding:5%;
    color:#3a3a3a
}


/* Media Query tablets and larger (768px and up)*/

@media screen and (min-width:768px) {
/* Header */
nav{
    display:block;
    position:relative;
    box-shadow:none;
    width:fit-content;
    padding-right:1rem;
}

#menu {
    display:flex;
}

#menu >li {
    padding-left:1rem ;
}

.nav-toggle-label {
    display:none;
}

#logo {
    font-size: 280%;
    line-height:75px;
    margin: 0 0.5rem;
}
/*main content */
main {
    /*push main content down to accomodate larger screen */
    margin-top :75 px;
}

/* Hero */
#cover-text {
    width:300px;
    right:50px;
}
}

@media screen and (min-width:992px) {
    /* Targeting the <a> tags to make them respond when hovered */
    #menu a:hover  {
        border-bottom: 1px solid #3a3a3a3a;
    }
}

